data/
**/data/
*.tif
*.zip
*.shp
*.shx
*.dbf
*.prj
*.nc
*.gpkg
*.parquet
scratch/*.csv
__pycache__/
.netrc
*.h5
*.hdf
*.he5
*.npy
*.npz
*.dat
*.tiff
*.grd
*.jp2
**/scratch/**/*.csv
**/scratch/**/*.txt
**/scratch/R2_data/
**/scratch/R1_grid/
